.header {
    display: flex;
    align-items: center;
    background-color: darkblue;
    justify-content: space-evenly;
    color: white
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
  }

  button:hover {
    cursor: pointer;
    background-color: lightgray;
  }
  