.App {
  text-align: center;
}

.click-able {
  color: blue;
  cursor: pointer;
}

.click-able:hover {
  color: darkblue;
}

.link {
  color: blue;
  cursor:pointer;
}

.link:hover {
  color: darkblue;
}

.App-link {
  color: #61dafb;
}

#textsidebutton
{
  position:absolute;
  height:106px;
}

#textbox
{
  height:100px;
  width:38em;
  font-size:10pt;
}

#smtextbox
{
  width:38em;
}

@media (max-width: 620px) {
  #textbox 
  {
    width:20em;
  }
  #smtextbox
  {
    width:20em;
  }
}
